.navbar {
  box-shadow: 0 3px 0 0 #f5f5f5;
}

#endpoint {
  margin-top: 50px;
  margin-bottom: 20px;
}

.email {
  margin-left: 10px;
}

.token {
  margin-left: 10px;
}

.fa-code-branch {
  margin-right: 5px;
}